<div *ngIf="(this.authService.isLoggedIn$ | async); else elseBlock">
  <app-modal #dialog>
    <app-game #game [game]="(modalGame$ | async) ?? {}">
      <div class="flex items-center justify-end p-2 border-t border-solid border-blueGray-200 rounded-b">
        <button
          class="bg-red-400 text-white active:bg-red-700 font-bold uppercase px-6 py-3 rounded text-sm outline-none focus:outline-none mr-1 ease-linear transition-colors hover:bg-red-500 duration-300"
          type="button" (click)="dialog.closeModal()">
          Close
        </button>
        <button
          class="bg-emerald-500 text-white active:bg-emerald-700 font-bold uppercase text-sm px-6 py-3 rounded outline-none focus:outline-none mr-1 ease-linear hover:bg-emerald-600 transition-colors duration-300"
          type="button" (click)="dialog.closeModal(); addToList(game.game)">
          Add to list
        </button>
      </div>
    </app-game>
  </app-modal>
  <form
    class="mt-10 mx-auto max-w-xl py-2 px-6 rounded-md bg-gray-50 border flex focus-within:border-gray-300 text-2xl">
    <input type="text" placeholder="Search for games..." [(ngModel)]="gameName" (keyup)="search()"
      class="bg-transparent w-full focus:outline-none pr-4 font-semibold border-0 focus:ring-0 px-0 py-0" name="topic">
  </form>
  <div class="grid grid-cols-3 gap-10 m-10 px-4 justify-items-center content-center">
    <div *ngFor="let game of games; index as i"
      class="my-8 rounded-t max-w-96 duration-500 hover:scale-105 cursor-pointer"
      (click)="dialog.openModal(); modalGame$.emit(game)">
      <div class="rounded-xl shadow-xl">
        <img class="rounded-t-xl object-cover" [src]="game.coverUrl" />
        <div class="line-clamp-1 mx-4 my-2">
          <h2 class="text-xl font-bold text-wrap">{{game.name}}</h2>
        </div>
        <div class="mx-4 my-2">
          <span *ngFor="let plat of game.platforms"
            class="inline-block text-sm font-bold py-1 px-3 mr-2 my-2 bg-gray-200 text-gray-700 rounded-full">
            {{plat.abbreviation || plat.alternativeName || plat.name}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #elseBlock>Login now to manage your game backlog !</ng-template>